{% extends "website/mobile_base.html" %}
{% load static %}
{% block mainbody %}

<br>
<div class="container">
    <div class="row">

        <div class="row">
                <div class="mb-3">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title" id='air'>货架概览</h5>
                            <div class="cargo-list-box"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

{% endblock %}