{% extends "website/mobile_base.html" %}
{% load static %}
{% block mainbody %}

    <br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="log-list-box"></div>
            </div>
        </div>
    </div>

    <script>
        $(`#main`).removeAttr('active');
        $(`#shelf`).removeAttr('active');
        $(`#log`).attr('active', true);
    </script>
    <script src="{% static 'mobile_log_list.js' %}"></script>
{% endblock %}